drop table if exists public.packages;

create table public.packages (
    id bigint generated by default as identity primary key,
    name text not null,
    description text not null,
    image text not null,
    duration text not null,
    group_size text not null,
    price decimal not null,
    rating decimal not null,
    reviews integer not null,
    includes text[] not null,
    created_at timestamptz default now()
);

-- Set up row level security
alter table public.packages enable row level security;

-- Create policy to allow anonymous read access
create policy "Allow anonymous read access"
    on public.packages
    for select
    to anon
    using (true);

-- Grant access to anonymous users
grant usage on schema public to anon;
grant select on public.packages to anon;
